.formTodoContainer{
    width: 100%;
    padding: 0 0 20px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: solid 1px grey;
}
.formTodoContainer input{
    width: 180px;
    padding: 10px ;
    font-size: 20px;
    border: none;
    outline: none;
    border-radius: 15px;
    box-shadow: 2px 2px grey;
    font-family: 'Rajdhani', sans-serif;

}
.formTodoContainer button{
    width: 70px;
    padding: 10px ;
    font-size: 20px;
    border: none;
    background-color: #b7d2ff;
    box-shadow: 2px 2px grey;
    border-radius: 15px;
    font-family: 'Rajdhani', sans-serif;
    outline: none;
    transition: background-color .2s ease-in-out;
}
.formTodoContainer button:hover{
    background-color: #99bcf8;
}
@media (min-width:576px) {
    .formTodoContainer input{
        width: 80%;
    }
    .formTodoContainer button{
        width: 15%;
    };   
}
@media (min-width:992px) {
    .formTodoContainer input{
        font-size: 25px;
    }
    .formTodoContainer button{
        font-size: 25px;
    }; 
}
